@model Pachkoriya_HW09.Models.BusViewModel

<form>
    <div class="row">
        <div class="col input-group mb-3 text-center">
            <div class="input-group-prepend">
                <span class="input-group-text bg-secondary text-white" id="inputGroup-sizing-default">Гос. номер</span>
            </div>
            <input type="text" class="form-control" value="@Model.Bus.GovernmentNumber" readonly>
        </div>
        <div class="col input-group mb-3 text-center">
            <div class="input-group-prepend">
                <span class="input-group-text bg-secondary text-white" id="inputGroup-sizing-default">Маршрут</span>
            </div>
            <input type="text" class="form-control" value="@Model.Bus.Route" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col input-group mb-3 text-center">
            <div class="input-group-prepend">
                <span class="input-group-text bg-secondary text-white" id="inputGroup-sizing-default">Водитель</span>
            </div>
            <input type="text" class="form-control" value="@Model.Bus.Driver" readonly>
        </div>
        <div class="col input-group mb-3 text-center">
            <div class="input-group-prepend">
                <span class="input-group-text bg-secondary text-white" id="inputGroup-sizing-default">Количество мест</span>
            </div>
            <input type="text" class="form-control" value="@Model.Bus.SeatsNumber" readonly>
        </div>
        <div class="col input-group mb-3 text-center">
            <div class="input-group-prepend">
                <span class="input-group-text bg-secondary text-white" id="inputGroup-sizing-default">Цена билета</span>
            </div>
            <input type="text" class="form-control" value="@Model.Bus.TicketPrice" readonly>
        </div>
    </div>
    <br/><br />
    <div class="row">
        <div class="col input-group mb-3 text-center">
            <div class="input-group-prepend">
                <span class="input-group-text bg-secondary text-white" id="inputGroup-sizing-default">Общий вес пассажиров</span>
            </div>
            <input type="text" class="form-control" value="@Model.Bus.TotalWeight()" readonly>
        </div>
        <div class="col input-group mb-3 text-center">
            <div class="input-group-prepend">
                <span class="input-group-text bg-secondary text-white" id="inputGroup-sizing-default">Количество пассажиров</span>
            </div>
            <input type="text" class="form-control" value="@Model.Bus.Passengers.Count" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col input-group mb-3 text-center">
            <div class="input-group-prepend">
                <span class="input-group-text bg-secondary text-white" id="inputGroup-sizing-default">Процент заполненности автобуса</span>
            </div>
            <input type="text" class="form-control" value="@Model.Bus.TotalPersent()" readonly>
        </div>
        <div class="col input-group mb-3 text-center">
            <div class="input-group-prepend">
                <span class="input-group-text bg-secondary text-white" id="inputGroup-sizing-default">Общая сумма за проезд</span>
            </div>
            <input type="text" class="form-control" value="@Model.Bus.TotalCost()" readonly>
        </div>
    </div>
</form>
<br />
<br />
<h3 class="text-center text-dark">Данные пассажиров</h3>
<table class="table table-striped table-active table-bordered">
    <thead>
        <tr>
            <th scope="col">Фамилия</th>
            <th scope="col">Год рождения</th>
            <th scope="col">Рост</th>
            <th scope="col">Вес</th>
            <th scope="col">Номер места</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in (Model.SortPassengersBySeatNum ? Model.Bus.SortPassengersBySeatNumber() :
                                      Model.SortPassengersBySurnameNP ? Model.Bus.SortPassengersBySurnameNP() : Model.Bus.Passengers))
        {
        <tr>
            <td scope="row">@item.SurnameNP</td>
            <td>@item.BirthYear</td>
            <td>@item.Height</td>
            <td weight-alert>@item.Weight</td>
            <td>@item.SeatNumber</td>
            <td>
                <a class="nav-link active" asp-controller="Bus" asp-action="DeleteQuestion" 
                   asp-route-surnameNP="@item.SurnameNP" asp-route-birthYear="@item.BirthYear" 
                   asp-route-height="@item.Height" asp-route-weight="@item.Weight" asp-route-seatNumber="@item.SeatNumber">
                    Удалить
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
